@import url('https://fonts.googleapis.com/css?family=VT323&subset=latin-ext');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #222831;
    font-family: 'VT323', monospace;
    color: #F96D00;
    font-size: 2rem;
}

#board div {
    width: 15px;
    height: 15px;
    border: 1px solid #B3B3B3;
    background-color: #F2F2F2;
    float: left;
}

#board div.live {
    background-color: #000000;
}

#board {
    margin: 50px auto 0;
    min-height: 100px;
    min-width: 100px;
    background: 2px solid #F96D00;
}

#game-menu {
    margin: 50px auto;
    width: auto;
}

#game-set, form {
   display: flex;
   justify-content: center;
   margin-top: 20px;
}

input, label, form button {
   margin-right: 20px;
}

form button:last-of-type {
   margin: 0;
}

button, input {
   font-family: 'VT323', monospace;
   background: #393E46;
   color: #F96D00;
   font-size: 25px;
   padding: 5px;
}

button {
   width: 100px;
}

input {
   outline: none;
   border: 1px solid #F2F2F2;
}
